* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7736f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration {
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #363535;
    width: 700px;
    height: auto;
}

.form-floating {
    margin: 30px 0px
}

.btn {
    width: 100%;
    background: #7736f9;
}

.btn:hover {
    background: #4706ca!important;
}